.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: darkcyan;
}

.dialogsItems {
    padding: 10px;
    color: black;
}

.dialogsItems .active{
    color: white;
}

.messages {

}

.messages .messages {
color: black;
}